body {
    margin: 0;
    padding: 0;
}
#Holder {
    width:980px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
    margin-bottom: 21px;
}
#Header{
    height: 70px;
    margin-bottom: 11px;
}
#NavBar{
    height: 60px;
    background-color: rgb(13,13,13);
}
#Content{
    height: 600px;
}
#PageHeading{
    height: auto;
    padding: 11px;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}
#ContentLeft{
    width: 280px;
    float: left
    padding-top: 11px;
    padding-left: 11px;
}
#ContentRight{
    width: 680px;
    float: right;
}
#Footer{
    height: 100px;
}
h1 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-weight: lighter;
}
h2 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    font-weight: lighter;
}
h6 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-weight: lighter;
    font-size: 14px;
}
.StyleTxtField {
    border: 1px solid #666;
    border-radius: 6px;
    width: 200px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 6px;
}
